{
  "Dhcp4": {
    "renew-timer": 600,
    "rebind-timer": 1200,
    "valid-lifetime": {{ lease_time }},
    "interfaces-config": {
      "interfaces": [ "{{ kea_iface }}" ]
    },
    "subnet4": [
      {
        "subnet": "{{ subnet_v4 }}",
        "pools": [
          { "pool": "{{ pool_start }} - {{ pool_end }}" }
        ],
        "option-data": [
          { "name": "routers", "csv-format": "{{ router }}" },
          { "name": "domain-name-servers", "csv-format": "{{ dns_servers | join(',') }}" },
          { "name": "domain-name", "csv-format": "sne25.nl" }
        ]{% if dhcp_reservations | length > 0 %},
        "reservations": [
{% for host in dhcp_reservations -%}
          {
            "hw-address": "{{ host.mac | upper }}",
            "ip-address": "{{ host.ip }}",
            "client-hostname": "{{ host.hostname | default('host' ~ loop.index) }}"
          }{% if not loop.last %},{% endif %}
{% endfor -%}
        ]{% endif %}
      }
    ]
  },
  "Logging": {
    "loggers": [
      {
        "name": "kea-dhcp4",
        "severity": "INFO",
        "debuglevel": 0,
        "flush": true
      }
    ]
  }
}
