{
  "Dhcp4": {
    "valid-lifetime": 600,
    "renew-timer": 300,
    "rebind-timer": 400,

    "subnet4": [
      {
        "subnet": "10.10.10.0/24",
        "pools": [ { "pool": "10.10.10.100 - 10.10.10.200" } ],
        "option-data": [
          { "name": "routers", "data": "10.10.10.1" },
          { "name": "domain-name-servers", "data": "8.8.8.8,8.8.4.4" }
        ],

        "reservations": [
          {% for r in dhcp_reservations %}
          {
            "hw-address": "{{ r.mac }}",
            "ip-address": "{{ r.ip }}",
            "hostname": "{{ r.hostname }}"
          }{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      }
    ]
  }
}
