#cloud-config
hostname: {{hostname}}
users:
  - name: jeeva
    shell: /bin/bash
    lock_passwd: false
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh_pwauth: true
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINpNk7z0CqInDd8Aif+sSXei9cPNFopLt6FSGk1za01f root@luxembourg
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOXmimw4siPNAOf0RGMJXxuN2BcNDKhlQOm4IedV8mzb jeeva@luxembourg
    passwd: "$6$2qLnuGLOJaWj9Ms9$HNkW7hXJ8K/bCjjXsqt9xLEDnXkPh9l9xgN5Q8ewjOG6dBz1a66Nn8HQRTpSNGE3gXLg4.bso5ZbK2Kv1fNB51"
chpasswd:
  expire: false
