#cloud-config
hostname: {{hostname}}
users:
  - name: jeeva
    shell: /bin/bash
    lock_passwd: false
    ssh_pwauth: true
    ssh_authorized_keys:
    
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    passwd: "$6$2qLnuGLOJaWj9Ms9$HNkW7hXJ8K/bCjjXsqt9xLEDnXkPh9l9xgN5Q8ewjOG6dBz1a66Nn8HQRTpSNGE3gXLg4.bso5ZbK2Kv1fNB51"
chpasswd:
  expire: false
