---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Kea DHCP server
  apt:
    name: "{{ kea_package }}"
    state: present
  register: kea_install

- name: Ensure kea config directory exists
  file:
    path: "{{ kea_conf_path | dirname }}"
    state: directory
    mode: '0755'

- name: Deploy Kea DHCP config
  template:
    src: "{{ kea_conf_template }}"
    dest: "{{ kea_conf_path }}"
    mode: '0644'
  notify: Restart kea

- name: Enable & start Kea service
  service:
    name: "{{ kea_service_name }}"
    enabled: yes
    state: started
